*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{

    font-family: "Times New Roman", Times, serif;
    background-color: #e8cfee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header{
    

    background: url(proyecto/bg.jpg);
    padding:30px 0;

}.logo__flor{
    
    margin-left: 150px;

}


   .caja{
    width: 100%;/* aque distancia quiere que se encuentre*/
    display: flex; /*aqui modifico la posicion tdo recuadro botonnes  etc*/
    align-items: center;
    height: 100px;
    padding: 25px;
    
    
   }

nav{
     position: absolute;
     top: 75px;  /*especifica parte de la posición de un elemento posicionado*/
     right:200px; /**/
     
     
}


 nav li {

        display: inline;/*nos ayuda a controlar dónde se va a ver un elemento HTML dentro de la pantalla para estructurar nuestra página*/
        margin: 0 0 0 15px;/* espacio que se encuentre cada boton */
        
}

nav a {
    text-transform: uppercase;
    color: #fbfbfb;
    font-weight: bold;/* nav: Además de decirle al navegador que es un elemento de navegación principal para enlaces y otras cosas,
    
    div: que se usa específicamente para rodear la barra o los elementos de navegación. 
    */
    font-size: 20px;
    text-decoration: none;
}

 nav a:hover{
    /* a:hover es la extencion que nos permite relacionar accion tocar boton cambia de color */
    color: #e30dd8;
    text-decoration: underline;/*aqui cambiamos color del texto*/

 }

 main{/* donde se encuentra kas imagenes*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 55vh;
    padding: 0 300px;
    margin: 100px 0;

 }

.card{
    padding: 25px;
    border: 1px solid#000;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all.3s linear;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    text-decoration: none;
    color: #000;
}

.card:hover{
    transform: scale(.9);
    background-color: #0000006e;
    color: #fff;
}

.card__titulo{
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: bold;
}

.card__img img{
    width: 100%;
    border-radius: 10px;
}

.card__img{
    width: 350px;
}

footer{
    text-align: center ;
    background: url(proyecto/bg.jpg);/* footer es la fuente que se abajo de la web fuente pie de cabeza*/
    padding: 50px;
    
}
.copy{
    
    color: #dd1212;
}



